<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <!--    css파일 import-->
    <link rel="stylesheet" href="css/index.css">

    <!--    기타모듈 import-->
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>

    <!--    자바스크립트 작성부분-->
    <script type="text/javascript">

        ////////////////   예시부분 자바스크립트   ///////////////////

        // 전송버튼을 누르면 이 test함수가 실행됩니다
        function test() {

            //입력한 데이터를 가져옵니다
            var test_data = document.getElementById('test').value;

            console.log(test_data);

            //라우팅한 경로를 작성합니다
            var url = 'http://localhost:3000/api/test';

            //서버에 데이터를보내는 ajax부분을 따로 함수로 작성
            sendAjax_test(url,test_data);

        }

        function sendAjax_test(url,test_data){

            //ajax를 이용해 페이지 새로고침없이 서버에 데이터를 보냅니다 (복사해서 적절히 수정하여 사용하시면 됩니다)
            $.ajax({
                type:"POST",
                url : url,
                data : {
                    'data' : test_data,
                },
                async: false,

                //성공적으로 서버에서 응답이 왔을때
                success : (result,status)=>{

                    //서버로부터 받은 데이터
                    var return_data = result.data;

                    //받은데이터를 html에 삽입
                    document.getElementById('return_data').innerHTML = return_data;
                },

                //서버와 데이터주고받기가 실패했을때
                error: (request,status,error)=>{
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            });

        }


        /////////////  직접 구현해야할 자바스크립트 부분 /////////////////

        // 전송버튼을 누르면 이 login함수가 실행됩니다
        function login() {

            //입력한 데이터를 가져옵니다
            var email = document.getElementById('email').value;
            var password = document.getElementById('password').value;

            var url = 'http://localhost:3000/api/login';

            sendAjax_login(url,email, password);
        }

        function sendAjax_login(url,email,password){
            $.ajax({
                type:"POST",
                dataType: 'json',
                url : url,
                data : {
                    'email' : email,
                    'password': password,
                },
                async: false,

                //성공적으로 서버에서 응답이 왔을때
                success : (result,status)=>{

                    //서버로부터 받은 데이터
                    // var return_data = result.data;
                    var return_data = result.data;    
                    //받은데이터를 html에 삽입
                    document.getElementById('return_data').innerHTML = return_data;
                },

                //서버와 데이터주고받기가 실패했을때
                error: (request,status,error)=>{
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            });
        }

    </script>

</head>
<body>

<div class="title">
    예시 코드
    <div class="description">- 입력한 데이터를 서버로 보낸 후 다시받아서 화면에 나타내는 한 사이클</div>
</div>

<div class="content">

    <input id="test" class="form" type="text" placeholder="테스트 데이터를 입력해주세요." />

    <button class="form_button" onclick="test()">전송</button>

    <div id="return_data"></div>

</div>




<div class="title">로그인 로직 구현하기</div>
<div class="content">

    <div>
        <input id="email" class="form" type="text" placeholder="이메일을 입력해주세요." />
    </div>

    <div>
        <input id="password" class="form" type="password" placeholder="비밀번호를 입력해주세요." />
    </div>

    <button class="form_button" onclick="login()">전송</button>

</div>

</body>
</html>